@use "../variables";
@use "../dependencies" as *;

// Uso de pseudoclase :is para alinear h1 y h2 en article
article :is(h1) {
  text-align: center;
  margin-top: 40px;
}


// Creación de la lista ordenada para article
.custom-list {
  list-style: none; 
  counter-reset: item-counter;
  padding-left: 0;
}

.custom-list__item {
  counter-increment: item-counter;
  display: flex;
  gap: 1.5rem;
  //margin-bottom: 2rem;
  position: relative;
}

// Creación de los números
.custom-list__item::before {
  content: counter(item-counter);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  border: 2px solid variables.$tertiary;
  border-radius: 50%;
  color: variables.$tertiary; 
  font-weight: bold;
}
// Uso de :has para seleccionar blockquotes que tenga un p después
blockquote:has( + p) {
  color: variables.$danger;
  @include font-size(1.5rem);
  font-weight: 500;
}

.blockquote--dark {
  @include font-size(1.2rem);
}

.author {
  @include font-size(1.5rem);
  text-align: center;
  margin-bottom: 50px;
}