<div class="bg-danger pt-5 pb-3 d-flex flex-column">
  <div class="p-5 justify-content-center">
    <a class="nav-link text-center" href="https://www.magnific.com/es/vector-gratis/artistas-femeninas-sonrientes-que-crean-jarron-ceramica-arcilla-aislada-ilustracion-vectorial-plana-ceramistas-dibujos-animados-haciendo-loza-colores_10173544.htm#fromView=search&page=1&position=6&uuid=e12b47a4-408d-4306-8cba-ffcaeab869d1&query=artesania">Imagen de pch.vector en Magnific</a>
  </div>
  <footer class="container pt-3 px-0 d-flex flex-wrap justify-content-between align-items-center border-top border-dark">
    <p class="navbar-brand mb-0 logotipo">Everyday Craft</p>
    <div>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link py-4 ps-0 pe-4 link-dark" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-4 px-4 link-dark" href="./pagetwo.html">Ponentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-4 px-4 link-dark" href="./pagethree.html">Artículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-4 ps-4 pe-0 link-dark" href="./pagefour.html">Galería</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <a class="ps-0 pe-3 text-body-secondary" href="https://www.google.com/"><i class="fa-brands fa-google-plus-g"></i></a>
      <a class="px-3 text-body-secondary" href="https://www.facebook.com/?locale=es_ES"><i class="fa-brands fa-facebook-f"></i></a>
      <a class="ps-3 pe-0 text-body-secondary" href="https://x.com/"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </footer>
</div>
